@font-face {
    font-family: Haxcorp;
    src: url(../fonts/haxrcorp-4089.ttf);
}

@font-face {
    font-family: Born2bSportyV2;
    src: url(../fonts/Born2bSportyV2.ttf);
}

@font-face {
    font-family: ProggySquare;
    src: url(../fonts/ProggySquare.ttf);
}

@font-face {
    font-family: ShareTech_Regular;
    src: url(../fonts/ShareTech-Regular.ttf);
}

@font-face {
    font-family: ShareTech_Mono;
    src: url(../fonts/ShareTechMono-Regular.ttf);
}

:root{
    --tc-r: 254;
    --tc-g: 138;
    --tc-b: 44;
    --grid-alpha: 0.1;
    --scan-alpha: 0.15;
    --bg-a:#080300;
    --bg-b:#200e00;
    --btn-main-bg:#491d00;
    --btn-hover-text-color: #491d00;
    scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
    width: 0.3em;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(var(--tc-r), var(--tc-g), var(--tc-b), 0.4 );
    border-radius: 1em;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(var(--tc-r), var(--tc-g), var(--tc-b), 1 );
    border-radius: 1em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    background: rgb(0 0 0);
    color: rgb(251 136 43);
    font-family: Haxcorp;
    font-size: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.ab-bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1000;
    background: linear-gradient(to bottom, var(--bg-a) 0%, var(--bg-b) 100%);
}

.ab-grid{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -900;
    background-size: 25px 25px;
    background-position: center;
    background-image:
    linear-gradient(to right, rgba(var(--tc-r), var(--tc-g), var(--tc-b), var(--grid-alpha)) 2px, transparent 2px),
    linear-gradient(to bottom, rgba(var(--tc-r), var(--tc-g), var(--tc-b), var(--grid-alpha)) 2px, transparent 2px);
}

.ab-scan{
    width: 100%;
    height: 140vh;
    background-position-y: 0em;
    position: absolute;
    top: 0;
    z-index: -800;
    animation: scan-anim 8s linear 0s infinite normal forwards;;
    background-image: linear-gradient(to top, rgba(var(--tc-r), var(--tc-g), var(--tc-b), var(--scan-alpha)) 0px, transparent 5em);
}


.screen{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 0;
    opacity: 1;
    transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.screen-disabled{
    z-index: -100;
    cursor: default;
    pointer-events: none;
    opacity: 0;
    transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}


.activity-box{
    position: relative;
    width: 100%;
    height: 15em;
    border: solid;
    border-radius: 0.2em;
    overflow: hidden;
}

.drop-zone{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 500;
}

.drag-screen:hover{
    background: rgba(255, 146, 95, 0.205);
}

.drag-screens{
    position: relative;
    overflow: hidden;
    width: 80%;
}

.drag-screen{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    padding: 0.3em;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    background: rgba(255, 0, 0, 0.098);
    border-left: dotted;
    border-right: dotted;
    border-top: solid;
    border-bottom: solid;
    border-radius: 0.2em;
    transition: background 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.drag-screen>div{
    margin-inline: 0.15em;
}

.pad{
    padding: 0.3em;
    padding-top: 0.45em;
    padding-bottom: 0.45em;
}

.drop-label{
    font-size: 1.5em;
}

.file-row{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    padding-top: 1em;
}

.file-row>div{
    padding-inline: 1em;
    padding-top: 0.4em;
    padding-right: 1.5em;
}

#drag01, #drag02, #drag11, #drag12{
    display: none;
}

/* ////////////// LOGS ////////////// */

.logarea{
    position: relative;
    width: 100%;
    padding-top: 0.2em;
}

.log-upper{
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

.log-status{
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: row;
    margin-left: 0.3em;
    width: 100%;
    height: 100%;
    padding: 0.2em;
    background: var(--btn-main-bg);
}

.log-dropdown{
    font-family: ShareTech_Regular;
    font-size: 0.3em;
    border: solid rgba(var(--tc-r),var(--tc-g),var(--tc-b),0.3);
    border-radius: 0.6em;
    width: 98.6%;
    height: 10.3em;
    padding-left: 0.7em;
    transition: all 0.3s ease-in-out;
    position: relative;
    margin-top:0.5em
}

.log-hide{
    height: 0;
    border: none;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.log-content{
    width: 100%;
    font-family: ShareTech_Mono;
    position: absolute;
    bottom: 0;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column-reverse;
}

.log-msg{
    width: 97%;
}

.log-content>.log-msg>p{
    margin: 0;
    padding: 0;
    margin-bottom: 0.3em;
}

/*///////////// Buttons //////////////*/
.button{
    border: solid;
    border-radius: 0.15em;
    padding: 0.2em;
    padding-inline: 0.5em;
    cursor: pointer;
    position: relative;
    z-index: 1000;
    background: var(--btn-main-bg);
    transition: background 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.button:hover{
    background: rgb(var(--tc-r), var(--tc-g), var(--tc-b));
    color: var(--btn-hover-text-color);
}

.button:hover>.icon-normal{
    filter: brightness(0.31) contrast(1.15);
}

.button:hover>.icon-invert{
    filter: none;
}

.button>span{
    pointer-events: none;
}

.btn-big{
    font-family: Born2bSportyV2;
}

.btn-mid{
    border-width: 0.06em;
}

.btn-nowrap{
    flex-wrap: nowrap;
}

.s1-ready-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin-top: 1.5em;
}

.s1-ready-btn>.button{
    transition: all 0.5s;
}

.btn-hide {
    transition: all 0.5s;
    pointer-events: none;
    cursor:default;
    opacity: 0;
}

/*///////////// Icons //////////////*/

.icon {
    display: flex;
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    margin-right: 0.3em;
}

.icon>img{
    width: 0.8em;
    height: 0.8em;
}

.icon-invert{
    filter: brightness(0.31) contrast(1.15);
}

.icon-flip{
    transform: rotate(180deg);
}


/*///////////// Animations //////////////*/
@keyframes scan-anim {
    from {
        background-position-y: 0em;
    }
    to {
        background-position-y: 23em;
    }
}