@font-face {
    font-family: Haxcorp;
    src: url(../fonts/haxrcorp-4089.ttf);
}

@font-face {
    font-family: Born2bSportyV2;
    src: url(../fonts/Born2bSportyV2.ttf);
}

@font-face {
    font-family: ProggySquare;
    src: url(../fonts/ProggySquare.ttf);
}

@font-face {
    font-family: ShareTech_Regular;
    src: url(../fonts/ShareTech-Regular.ttf);
}

@font-face {
    font-family: ShareTech_Mono;
    src: url(../fonts/ShareTechMono-Regular.ttf);
}

:root{
    --tc-r: 254;
    --tc-g: 138;
    --tc-b: 44;
    --grid-alpha: 0.1;
    --scan-alpha: 0.15;
    --bg-a:#080300;
    --bg-b:#200e00;
    --btn-main-bg:#491d00;
    --btn-hover-text-color: #491d00;
    --btn-hover-bg:#76380b;
    scroll-behavior: smooth;
    --tc-warning:#ff5924;
    --tc-green-main:#2ed832;
    --tc-green-alpha:#2ed83145;
}

/* width */
::-webkit-scrollbar {
    width: 0.3em;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(var(--tc-r), var(--tc-g), var(--tc-b), 0.4 );
    border-radius: 1em;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(var(--tc-r), var(--tc-g), var(--tc-b), 1 );
    border-radius: 1em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(var(--tc-r), calc(var(--tc-g)*1.4), var(--tc-b), 1 );
}

body {
    background: rgb(0 0 0);
    color: rgb(251 136 43);
    font-family: Haxcorp;
    font-size: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

a{
    color: burlywood;
}

/* ///////////// Activity Box ////////////// */

.activity-box{
    position: relative;
    width: 100%;
    height: 15em;
    border: solid;
    border-radius: 0.2em;
    overflow: hidden;
}

.ab-bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1000;
    background: linear-gradient(to bottom, var(--bg-a) 0%, var(--bg-b) 100%);
}

.ab-grid{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -900;
    background-size: 25px 25px;
    background-position: center;
    background-image:
    linear-gradient(to right, rgba(var(--tc-r), var(--tc-g), var(--tc-b), var(--grid-alpha)) 2px, transparent 2px),
    linear-gradient(to bottom, rgba(var(--tc-r), var(--tc-g), var(--tc-b), var(--grid-alpha)) 2px, transparent 2px);
}

.ab-scan{
    width: 100%;
    height: 140vh;
    background-position-y: 0em;
    position: absolute;
    top: 0;
    z-index: -800;
    animation: scan-anim 8s linear 0s infinite normal forwards;;
    background-image: linear-gradient(to top, rgba(var(--tc-r), var(--tc-g), var(--tc-b), var(--scan-alpha)) 0px, transparent 5em);
}

/* ////////////////// Screens //////////////////// */

.screen{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 0;
    opacity: 1;
    transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
    overflow-y: auto;
}

.screen-disabled{
    z-index: -100;
    cursor: default;
    pointer-events: none;
    opacity: 0;
    transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* //////////////// File drop zones //////////////// */

.drop-zone{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
}

.drag-screen:hover{
    background: rgba(255, 146, 95, 0.205);
}

.drag-screens{
    position: relative;
    overflow: hidden;
    width: 80%;
}

.drag-screen{
    background: rgba(255, 0, 0, 0.098);
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 0.3em 0 0.3em 0;
}

.bounding-box{
    width: 99%;
    /* height: 100%; */
    position: relative;
    display: flex;
    border-left: dotted;
    border-right: dotted;
    border-top: solid;
    border-bottom: solid;
    border-radius: 0.2em;
    transition: background 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.drag-screen>div{
    margin-inline: 0.15em;
}

.pad{
    padding: 0.3em;
    padding-top: 0.45em;
    padding-bottom: 0.45em;
}

.drop-label{
    font-size: 1.5em;
}

.file-row{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    padding-top: 1em;
}

.file-row>div{
    padding-inline: 1em;
    padding-top: 0.4em;
    padding-right: 1.5em;
}

#drag01, #drag02, #drag11, #drag12{
    display: none;
}

/* ////////////// LOGS ////////////// */

.logarea{
    position: relative;
    width: 100%;
    padding-top: 0.2em;
}

.log-upper{
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

.log-status{
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: row;
    margin-left: 0.3em;
    width: 100%;
    height: 100%;
    padding: 0.2em;
    background: var(--btn-main-bg);
}

.log-dropdown{
    font-family: ShareTech_Regular;
    font-size: 0.3em;
    border: solid rgba(var(--tc-r),var(--tc-g),var(--tc-b),0.3);
    border-radius: 0.6em;
    width: 98.6%;
    height: 10.3em;
    padding-left: 0.7em;
    transition: all 0.3s ease-in-out;
    position: relative;
    margin-top:0.5em
}

.log-hide{
    height: 0;
    border: none;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.log-content{
    width: 100%;
    font-family: ShareTech_Mono;
    position: absolute;
    bottom: 0;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column-reverse;
}

.log-msg{
    width: 97%;
}

.log-content>.log-msg>p{
    margin: 0;
    padding: 0;
    margin-bottom: 0.3em;
}

/*///////////// Buttons //////////////*/
.button{
    border: solid;
    border-radius: 0.15em;
    padding: 0.2em;
    padding-inline: 0.5em;
    cursor: pointer;
    position: relative;
    z-index: 15;
    background: var(--btn-main-bg);
    transition: background 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.button:hover{
    background: var(--btn-hover-bg);
    /* color: var(--btn-hover-text-color); */
}

.button>span{
    pointer-events: none;
}

.btn-big{
    font-family: Born2bSportyV2;
}

.btn-mid{
    border-width: 0.06em;
}

.btn-nowrap{
    flex-wrap: nowrap;
}

.s1-ready-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin-top: 1.5em;
}

.s1-ready-btn>.button{
    transition: all 0.5s;
}

.btn-hide {
    transition: all 0.5s;
    pointer-events: none;
    cursor:default;
    opacity: 0;
}

.btn-danger{
    color: var(--tc-warning);
    border-color: var(--tc-warning);
    background: #200e00;
}

.btn-danger:hover{
    background: #351701;
}

.btn-danger .icon{
    filter: invert(1) hue-rotate(156deg) brightness(1.5);
}

.exp{
    margin-top: 0.4em;
    margin-bottom: 0.8em;
}

.move-btn{
    cursor: pointer;
    margin-bottom: 48%;
}

.move-btn:hover{
    filter: brightness(1.5);
}

/*///////////// Icons //////////////*/

.icon {
    display: flex;
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    margin-right: 0.3em;
}

.icon>img{
    width: 0.8em;
    height: 0.8em;
}

.icon-invert{
    filter: brightness(0.31) contrast(1.15);
}

.icon-red{
    filter: invert(1) hue-rotate(156deg) brightness(1.5);
}

.icon-flip{
    transform: rotate(180deg);
}

/* ////////////// Section styles //////////////// */

.section-label{
    margin-bottom: 0.4em;
}

.header-info, .token-info{
    width: 90%;
}

.token-info .bounding-box{
    padding: 0.2em;
    margin-bottom: 0.4em;
}

hr{
    border-color: rgb(var(--tc-r) var(--tc-g) var(--tc-b));
}

.screen>hr{
    width: 90%;
}

.add-box{
    padding: 0.8em;
    width: 75%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    background: var(--tc-green-alpha);
    border-color: var(--tc-green-main);
    margin-top: 0.3em;
}
/* ////////////// Entry styling ///////////////// */

.entries{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.entry{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 0.2em;
    width: 100%;
}

.entry-cramp{
    width: fit-content;
    margin-right: 0.5em;
}

.entry-value{
    width: 6em;
    margin-left: 0.3em;
}

.entry-long{
    width: 10em;
}

.entry-short, .entry-short input{
    width: 3em;
}

/* ////////////// Custom select ///////////////// */

/* The container must be positioned relative: */
.custom-select {
    position: relative;
    font-family: Haxcorp;
    font-size: 0.8em;
    background-color: var(--btn-main-bg);
    border-radius: 0.2em;
}

/*hide original SELECT element: */
.custom-select select {
    display: none;
}

.select-selected {
    background-color: var(--btn-main-bg);
    border: solid;
}

.select-selected:hover, .select-items div:hover{
    background-color: var(--btn-hover-bg);
}

/* Style the arrow inside the select element: */
.select-selected:after {
    position: absolute;
    content: "";
    width: 0.8em;
    height: 0.8em;
    display: inline-block;
    right: 0.2em;
    background: #ff000000 url(../icons/arrow.svg) no-repeat 0em 0em;
    background-size: 0.7em;
    transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    transform: rotate(-180deg);
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
    transform: rotate(0deg);
}

/* style the items (options), including the selected item: */
.select-items div{
    color: rgb(var(--tc-r), var(--tc-g), var(--tc-b));
    padding: 0.2em;
    border: 0.06em solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
}

.select-selected {
    color: rgb(var(--tc-r), var(--tc-g), var(--tc-b));
    padding: 0.2em;
    border: 0.06em solid;
    cursor: pointer;
    border-radius: 0.2em;
    z-index: 1200;
}

/* Changes lower half of the border and straightens bottom corners when select is activated */
.select-selected.select-selected.select-arrow-active{
    border-radius: 0.2em 0.2em 0em 0em;
    border-bottom-color: rgba(0, 0, 0, 0.2);
}

/* Style items (options): */
.select-items {
    position: absolute;
    background-color: var(--btn-main-bg);
    left: 0;
    right: 0;
    top: 100%;
    z-index: 1000;
    border: solid;
    border-top: none;
    border-width: 0.07em;
    border-radius: 0em 0em 0.2em 0.2em;
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* Hide the items when the select box is closed: */
.select-hide {
    transform: scale(1,0) translate(0, -100%);
    top: 0;
    opacity: 0;
    z-index: -2000;
    pointer-events: none;
}

.same-as-selected {
    display: none;
}

.select-disabled {
    filter: brightness(0.6) saturate(0.6);
    pointer-events: none;
}

.entry-value .custom-select{
    width: 9em;
}

.entry-short .custom-select{
    width: 3em;
}

/* Default input styling */

input{
    font-family: Haxcorp;
    font-size: 0.8em;
    background: var(--btn-main-bg);
    color: rgb(var(--tc-r), var(--tc-g), var(--tc-b));
    border: solid rgb(var(--tc-r), var(--tc-g), var(--tc-b)) 0.06em;
    padding: 0.2em;
    border-radius: 0.2em;
    width: 7em;
}

.entry-long input{
    width: 100%;
}

input[type=number]{
    width: 3em;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}

input:disabled{
    filter: brightness(0.6) saturate(0.6);
}


/* ///////////// Alerts /////////////// */
#alert_target{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.alert-areablock{
    position: fixed;
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding-inline: 17%;
    z-index: 3000;
    background: rgb(0 0 0 / 77%);
}

.alert{
    border: solid;
    border-radius: 0.2em;
    border-color: var(--tc-warning);
    padding: 0.1em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    background: rgba(18, 15, 13, 0.9);
    overflow: hidden;
    justify-content: space-between;
}

.alert-header{
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 1.6em;
    color: var(--tc-warning);
    font-family: Born2bSportyV2;
}

.alert-header>.icon{
    filter: invert(1) hue-rotate(156deg) brightness(1.5);
}

.alert-content{
    overflow-y: auto;
    max-height: 18em;
    padding-inline: 0.6em;
    font-size: 0.45em;
    font-family: ShareTech_Regular;
    margin-top: 1em;
    margin-bottom: 1em;
}

.alert-content p{
    margin-top: 0;
}

.alert-buttons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

.alert-show{
    animation-name: alert-show;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.alert-hide{
    animation-name: alert-hide;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

/* //////////// Screen 3, editor and download /////////////// */

.editor{
    width: 85%;
}

.editor textarea{
    width: 95%;
    font-family: ShareTech_Mono;
    color: rgb(var(--tc-r) var(--tc-g) var(--tc-b));
    background: rgb(37, 21, 0);
    border: solid;
    padding: 0.6em;
    font-size: 0.3em;
    border-radius: 0.2em;
}

.s3-buttons{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 0.2em;
}

/*///////////// Animations //////////////*/
@keyframes scan-anim {
    from {
        background-position-y: 0em;
    }
    to {
        background-position-y: 23em;
    }
}

@keyframes alert-show {
    0%{
        width: 0%;
        height: 0%;
        opacity: 0;
    }
    4%{
        width: 0%;
        height: 0%;
        opacity: 1;
    }
    60%{
        width: 100%;
        height: 0%;
        opacity: 1;
    }
    65%{
        width: 100%;
        height: 0%;
        opacity: 1;
    }
    100%{
        width: 100%;
        height: 62%;
        opacity: 1;
    }

}

@keyframes alert-hide {
    0%{
        width: 100%;
        height: 62%;
        opacity: 1;
    }
    35%{
        width: 100%;
        height: 0%;
        opacity: 1;
    }
    40%{
        width: 100%;
        height: 0%;
        opacity: 1;
    }
    96%{
        width: 0%;
        height: 0%;
        opacity: 1;
    }
    100%{
        width: 0%;
        height: 0%;
        opacity: 0;
    }

}